.m{
    background-color: rgba(240, 248, 255, 0.8);
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000;
}

.m-ul{
    display: flex;
}

.m-item{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 320ms ease-in-out;
    transform:translateX(0) translateY(0);
}

.m-item:hover, .m-item > .active{
    color: rgb(0, 132, 255);
    transform:translateY(-5px);
}

.m-item::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 132, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.m-item:hover::after{
    transform: scaleX(1);
}

.m-butt{
    position: absolute;
    display: none;
    top: 2px;
    right: 5px;
    justify-content: right;
    cursor: pointer;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
    border-radius: 5px;
}

.m-butt div{
    background-color: rgb(70, 70, 70);
    width: 20px;
    height: 3px;
    margin: 5px;
    border-radius: 3px;
}

@media screen and (max-width: 480px) { 
    .m{
        height: 40vh;
        width: 27vh;
        align-items: flex-start;
        flex-direction: column;
        overflow-x: hidden;
        transition: 1s ease-out;
    }

    .m-ul{
        position: absolute;
        top: 40px;
        display: block;
        flex-direction: column;
        transform: translateX(0%);
        transition: 1s ease-out;
    }

    .m-butt{
        display: block;
    }

    .m-closed{
        width: 6vh;
    }

    .ul-closed{
        transform: translateX(-100%);
    }

}

.line1 {
    transform: rotate(-45deg) translate(-4.8px,5px);
}

.line2 {
    opacity: 0;
}

.line3 {
    transform: rotate(45deg) translate(-6px,-7px);
}

